/* Universal Reset for Margin and Padding */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



@font-face {
  font-family: 'SF Pro'; /* set name */
  src: url('../fonts/SFPRODISPLAYREGULAR.woff2'); /* url of the font */
}

@font-face {
  font-family: 'SF Pro Bold'; /* set name */
  src: url('../fonts/SFPRODISPLAYBOLD.woff2'); /* url of the font */
}



:root{

  /*  Colors  */
  --primary-color: #0f0f0f;
  --secondary-color: #E70000;
  --white-color: #ffffff;
  --secondary-white: #FFFAF5;
  --black-color: #000000;
  --grey-color: #F5F5F5;

  --font-light-grey: #E1E1E1;
  --font-medium-grey: #C0BFBF;
  --font-dark-grey: #7A7A7A;

/*  Font sizes  */
  --heading-fs: clamp(30px, 4vw, 55px);
  --sub-heading-fs: clamp(16px, 3vw, 24px);
  --anim-para-fs: clamp(24px, 4vw, 50px);


/* Padding  */
  --section-padding: 4.7%;
  --button-padding: 8px 17px;
  --form-field-padding: 15px;


}

/* Box-Sizing for Consistent Layouts */

*, *::before, *::after {
  box-sizing: inherit;
}

.section{
  transition: transform 500ms ease-in;
}


.section--hidden{
  opacity: 0;
  transform: translateY(8rem);
}


.hero-plus-header{
  background-image: url(../assets/images/Hero-banner-bg.png);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
}



/* |||||  HEADER ||||| */

.bg-body-tertiary{
  background-color: transparent!important;
}

.logo{
  width: 50px;
  height:auto;

}

/* header container */
.navbar-expand-lg .navbar-collapse{
  justify-content: flex-end;
}


.navbar-toggler{
  background-color: var(--white-color);
}

/* Right navbar container */
.navbar-nav{
  gap: 15px;
}


.custom-btn{
  padding: var(--button-padding)!important;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  position: relative;
  transition: color 400ms ease-in;
  overflow: hidden;
}

.custom-btn{
  border: 1px solid var(--white-color);
}

.custom-btn span{
  position: relative;
  z-index: 3;
}

.custom-btn:hover:not(.btn--red-bg){
  border: 1px solid var(--white-color);
}

.custom-btn:hover:not(.btn--red-bg) span{
    color: var(--white-color);
}



.custom-btn:not(.btn--red-bg)::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0; 
  background-color: var(--black-color);
  transition: left 400ms ease-in;
}

.custom-btn:not(.btn--red-bg):hover::before{
  left: 0;
}



.nav-link{
  background-color: var(--secondary-white);
  color: var(--black-color);
}

.btn--red-bg{
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-white);
  position: relative;
  transition: color 400ms ease-in;
  overflow: hidden;
}

.btn--red-bg span{
  position: relative;
  z-index: 3;
}

.btn--red-bg:hover{
  color: var(--black-color);
  border: 1px solid var(--secondary-color);
}


.btn--red-bg::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0; 
  background-color: var(--secondary-white);
  transition: left 400ms ease-in;
}

.btn--red-bg:hover::before{
  left: 0;
}









/* |||  HERO SECTION  ||| */

.hero-section{
  justify-content: space-between;
  gap: 40px;
}


/* Laptop screen size */
@media (min-width: 769px) {
  .hero-section{
    padding: 4.6rem var(--section-padding);
    }

  .logo{
    margin-left: 75px;
  }

  .navbar-expand-lg .navbar-collapse{
  margin-right: 75px;
  }
}






.hero-heading-txt-container{
  max-width: 700px;
  color: var(--white-color);
}


.hero-heading{
  font-family: 'SF Pro Bold';
  font-size: clamp(36px, 5vw, 70px);
  font-weight: 900;
}

.hero-sub-heading{
  font-size: var(--sub-heading-fs);
}


.hero-btn{
  margin-top: 100px;
}

.hero-form--container{
  border: 1px solid var(--secondary-white);
  border-radius: 20px;
  height: fit-content;
}

.hero-form{
  grid-template-columns: repeat(1, minmax(250px, 400px));
  padding: 30px;
  gap: 20px;
}

.hero-form :is(input, select){
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  color: var(--white-color);
  padding-inline: var(--form-field-padding);
  border:1px solid var(--white-color);
}

.custom-btn.submit-btn{
  background-color: #C99191;
  width: fit-content;
  justify-self: flex-end;
  border: none;
  color: var(--secondary-white);
  border: 1px solid var(--white-color);
  transition: background-color 400ms ease-in;
}


.custom-btn.submit-btn:hover{
  background-color: var(--secondary-color);
}




/* ||||  Animated Logo scroll section  ||||  */



.scroll-anim-container{
  background-color: var(--primary-color);
  color: var(--font-dark-grey);
  padding: 5.5% 0 5.5% 5.5%;
}


.scroll-anim__left-container{
  max-width: 600px;
  flex-shrink: 0;
}


.scroll-anim__heading{
  font-size: var(--sub-heading-fs);
  max-width: 300px;
  font-style: italic;
}

.scroll-anim__right-container--wrapper{
  overflow: hidden;
  position: relative;
}

.scroll-anim__right-container--wrapper::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 28%;
  height: 100%;
  background: #0f0f0f;
  z-index: 9;
}


.scroll-anim__right-container--wrapper::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 28%;
  width: 28%;
  height: 100%;
  background-image: linear-gradient(to right, var(--primary-color),  #0f0f0f00);
  z-index: 10;
}

.scroll-anim__right-container{
  animation: scroll 12s infinite linear;
  gap: 30px;
  flex-grow: 1;
}



/*   ||||  Animated Para Section  |||| */



.anim-section{
  padding: 5rem var(--section-padding);
}

.anim__para{
  font-size: var(--anim-para-fs);
}


/* ||||   Who We work with Section  |||| */

.www-main-section{
  background-color: var(--primary-color);
  color: var(--secondary-white);
}


.www-heading-txt-container{
  padding: 2.5rem var(--section-padding);
}

.www__heading{
  font-size: var(--heading-fs);
}

.www__sub-heading{
  font-size: var(--sub-heading-fs);
}

/* Cards container  */
.www-cards-container{
  gap: 30px;
  padding: 2.5rem var(--section-padding)
}

.www-single-container__border{
  background: linear-gradient(110deg, var(--secondary-color), var(--white-color));
  padding: 1px;
  border-radius: 30px;
  max-width: 300px;
  height: fit-content;
}

.www-single-container{
  display: grid;
  border: 1px solid transparent;
  border-radius: 30px;
  background: var(--primary-color);
  padding: 30px;
  max-width: 300px;
  height: 250px;
}

/* Animated Logo */


.www-anim-logos-container--wrapper::after{
  content: '';
  width: 300px;
  height:200px;
  background: linear-gradient( to right, var(--primary-color), #0F0F0000);
  position: absolute;
  top: 0;
}


.www-anim-logos-container--wrapper{
  overflow: hidden;
  position: relative;
}

.www-anim-logos-container{
  gap: 30px;
  padding: 2rem 0;
  animation: scroll 15s infinite linear;
}

.www-anim__logo{
  width: 150px;
  height: auto;
  flex-shrink: 0;
}


@keyframes scroll {

  0%{
    transform: translateX(-100%);
  }

  100%{
    transform: translateX(-25%);
  }
}


/* What it look like in practice - Stats- Data Section */

.stats-section{
  padding:3rem var(--section-padding);
}

.stats-section__heading{
  font-size: var(--heading-fs);
  font-weight: bolder;
  max-width: 530px;
}


.stats-cards-container{
  gap: 15px;
}


.single-stats-card{
  max-width: 615px;
  flex: 1 1 34%;
  border: 1px solid var(--font-light-grey);
  border-radius: 20px;
  padding: 2rem;
  display:grid;
}


.single-stats-card__heading{
  font-size: var(--sub-heading-fs);
  font-weight: bold;
}

.single-stats-card__data{
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: clamp(24px, 4vw, 50px );
}


/*  Performance Agency Highlight Section */
.perf-ag-section{
  padding: 3rem var(--section-padding);
  background-color: var(--grey-color);
}

.perf-ag-section__heading{
  font-size: var(--heading-fs);
  font-weight: 700;
  max-width: 550px;
}

.perf-ag-btn-container{
  padding-bottom: 25px;
}

.perf-ag-btn-container .custom-btn{
  width: fit-content;
  height: fit-content;
  place-self: end start;
}


.perf-ag-icon-txt-container{
  display: flex;
  max-width: 500px;
  align-items: center;
  font-size: var(--sub-heading-fs);
  gap: 30px;
  padding: 15px 0;
  border-bottom: 1px solid #bdbdbd;
}

.perf-ag-icon-txt-container:nth-last-child(1){
  border:none;
}

.perf-ag-icon-txt-container > img{
  padding-bottom : 10px;
}

.perf-ag__txt{
    color: var(--font-dark-grey);
    font-weight: bold;
}

.perf-ag__txt--highlight{
  font-weight: bold;
  color: var(--black-color);
}



/* ||||  Testimonial Section  ||||*/


.testimonial-section{
  background-color: var(--primary-color);
  padding: 3rem var(--section-padding);
  color: var(--secondary-white);
}

.testimonial--wrapper{
  overflow-x: scroll ;
}

.testimonial--wrapper::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}



.test-btn-plus-qoute-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.test-btn-container{
  grid-template-columns: repeat(2, 1fr);
}

.test-gradient-line{
  background-image: linear-gradient(to right, var(--secondary-color), var(--secondary-white));
  border: none;
  height: 2px;
}


.test-btn{
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 30px;
  padding: 10px 12px;
  border: 1px solid var(--white-color)
}

.testimonial-container{ 
    display: grid;
    grid-template-columns: repeat(4, 508px);
    gap: 40px;

}



.testimonial__txt{
  font-weight: bold;
  font-size: var(--sub-heading-fs);
  margin-top: 20px;
}




/* ||||   Let us Talk Section ||||   */
.let-us-talk-section{
  padding: 5rem var(--section-padding);
  gap: 40px;
}

.lut-left-container{
  max-width: 830px;
}



.lut-left__heading{
  font-size: var(--heading-fs);
  font-weight: bold;
  max-width: 600px;
}

.lut-left__para{
  font-size: var(--sub-heading-fs);
}


.lut-left-container > .custom-btn{
  margin-top: 10%;
}


.lut-form-container{
  border: 1px solid var(--secondary-white);
  border-radius: 20px;
  height: fit-content;
}

.lut-form{ 
  grid-template-columns: repeat(1, minmax(250px, 400px));
  padding: 30px;
  gap: 20px;
  background-color: var(--black-color);
  border-radius: 20px;
}


.lut-form-container :is(input, select){
  background-color: var(--white-color);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  color: var(--font-dark-grey);
  padding-inline: var(--form-field-padding);
  border:1px solid var(--black-color);
}


/* |||||  Footer Section  ||||| */
.footer-section{
  background-color: var(--primary-color);
  color: var(--white-color);
  min-height: 500px;
  padding: 2rem var(--section-padding);
}



.footer-logo{
  margin-bottom: 20px;
}

.footer-desc{
  max-width: 400px;
}





.footer-links-main-container{
  gap: 40px;
}

.footer-links{
  list-style-type: none;
  padding-left: 0;
}

.links__heading{
  margin-bottom: 50px;
}


.footer-links li a{
  text-decoration: none;
  color: var(--white-color);
  list-style-position: outside;
}

.contact-plus-social-link-container{
  margin-top: 15%;
}


.contact-detail-container{
  gap: 30px;
}


.social-links-container{
    grid-template-columns: 1fr;
}


.social-link__list{
  list-style-type: none;
  padding-left: 0;
  gap: 10px;
}

.footer__phone a, .footer__email a{
  text-decoration: none;
  color: var(--white-color);
}

.footer-divider{
  height: 2px;
  border: none;
  background-image: linear-gradient(to right, var(--secondary-color), var(--secondary-white)) ;
}

.footer-performance-plus-img{
  width: 100%;
  height: auto;
}





/* || Small screen size */


@media (max-width: 768px){
  .hero-section{
    margin-inline: 3%;
  }

  .www-cards-container{
    justify-content: center;
  }

  .perf-ag-btn-container{
    order: -1;
    padding-top: 30px;
    gap: 10px;
  }
}




/* Styling For select */

select,
::picker(select) {
  appearance: base-select;
}


select {
  flex: 1;
}
select {
  border: 2px solid var(--white-color);
  padding: 10px;
  transition: 0.4s;
}

select:hover,
select:focus {
  background: transparent;
}

.lut-form-container select:hover,
select:focus{
  background-color: transparent;
}


select::picker-icon {
  color: var(--secondary-color);
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}
::picker(select) {
  border: none;
}
option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border: 2px solid #dddddd;
  padding: 10px;
  transition: 0.4s;
}
option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

::picker(select) {
  border-radius: 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}
option:nth-of-type(odd) {
  background: white;
}

option:hover,
option:focus {
  background: #16428d30;
}
option .icon {
  font-size: 1.6rem;
  text-box: trim-both cap alphabetic;
}
selectedcontent .icon {
  display: none;
}
option:checked {
  font-weight: bold;
}
option::checkmark {
  order: 1;
  margin-left: auto;
  content: "✅";
}
::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete;
}
::picker(select):popover-open {
  opacity: 1;
}
@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}
::picker(select) {
  top: calc(10%(bottom) + 1px);
}


/* Liquid Glass */

.liquidGlass-wrapper {
  position: relative;
  display: flex;
  font-weight: 600;
  overflow: hidden;
  color: black;

  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;

  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.liquidGlass-wrapper{
  border-radius: 20px;
}

.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;

  overflow: hidden;

  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.liquidGlass-text {
  z-index: 3;
  color: black;
}
