/* Universal Reset for Margin and Padding */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



@font-face {
  font-family: 'SF Pro'; /* set name */
  src: url('../fonts/SFPRODISPLAYREGULAR.woff2'); /* url of the font */
}

@font-face {
  font-family: 'SF Pro Bold'; /* set name */
  src: url('../fonts/SFPRODISPLAYBOLD.woff2'); /* url of the font */
}



:root{

  /*  Colors  */
  --primary-color: #0f0f0f;
  --secondary-color: #E70000;
  --white-color: #ffffff;
  --secondary-white: #FFFAF5;
  --black-color: #000000;
  --font-light-grey: #C0BFBF;
  --font-dark-grey: #7A7A7A;

/*  Font sizes  */
  --sub-heading-fs: clamp(16px, 3vw, 24px);
  --anim-para-fs: clamp(24px, 4vw, 50px);


/* Padding  */
  --section-padding: 4.7%;
  --button-padding: 8px 17px;
  --form-field-padding: 15px;
}

/* Box-Sizing for Consistent Layouts */

*, *::before, *::after {
  box-sizing: inherit;
}



.hero-plus-header{
  background-image: url(../Images/Hero-banner-bg.png);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
}



/* |||||  HEADER ||||| */

.bg-body-tertiary{
  background-color: transparent!important;
}

.logo{
  width: 50px;
  height:auto;

}

/* header container */
.navbar-expand-lg .navbar-collapse{
  justify-content: flex-end;
}


.navbar-toggler{
  background-color: var(--white-color);
}

/* Right navbar container */
.navbar-nav{
  gap: 15px;
}


.custom-btn{
  padding: var(--button-padding)!important;
  border-radius: 30px;
  font-weight: 600;
  border: none;
}




.nav-link{
  background-color: var(--secondary-white);
  color: var(--black-color);
}

.btn--red-bg{
  background-color: var(--secondary-color);
  color: var(--secondary-white);
}






/* |||  HERO SECTION  ||| */

.hero-section{
  justify-content: space-between;
  gap: 40px;
}


/* Laptop screen size */
@media (min-width: 769px) {
  .hero-section{
    padding: 4.6rem var(--section-padding);
    }

  .logo{
    margin-left: 75px;
  }

  .navbar-expand-lg .navbar-collapse{
  margin-right: 75px;
  }
}

/* || Small screen size */


@media (max-width: 768px){
  .hero-section{
    margin-inline: 3%;
  }
}




.hero-heading-txt-container{
  max-width: 700px;
  color: var(--white-color);
}


.hero-heading{
  font-family: 'SF Pro Bold';
  font-size: clamp(36px, 5vw, 70px);
  font-weight: 900;
}

.hero-sub-heading{
  font-size: var(--sub-heading-fs);
}


.hero-btn{
  margin-top: 100px;
}

.hero-form--container{
  border: 1px solid var(--secondary-white);
  border-radius: 20px;
  height: fit-content;
}

.hero-form{
  grid-template-columns: repeat(1, minmax(250px, 400px));
  padding: 30px;
  gap: 20px;
}

.hero-form :is(input, select){
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 30px;
  color: var(--white-color);
  padding-inline: var(--form-field-padding);
}

.custom-btn.submit-btn{
  background-color: #C99191;
  width: fit-content;
  justify-self: flex-end;
  border: none;
  color: var(--secondary-white);
}


/* ||||  Animated Logo scroll section  ||||  */



.scroll-anim-container{
  background-color: var(--primary-color);
  color: var(--font-dark-grey);
  padding: 5.5%;
}


.scroll-anim__left-container{
  max-width: 600px;
}

.scroll-anim__heading{
  font-size: var(--sub-heading-fs);
  max-width: 300px;
  font-style: italic;
}


.anim-section{
  padding: 5rem var(--section-padding);
}

.anim__para{
  font-size: var(--anim-para-fs);
}